<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Таблицы</title>
</head>
<body>
    <h2>Таблицы</h2>
    {% for idx, model in models.items %}
        <div><a href="{% url 'music_utils:detail' idx %}">{{ model }}</a></div>
    {% endfor %}
    <br>
    <form action="{% url 'music_utils:create_xml' %}"><button type="submit">Выгрузить в XML</button></form>
</body>
</html>